{% extends "modulo4/layouts/base_mod4.html" %} {% load static %}

<!-- BLOQUE CUSTOM HEAD-->
{% block custom_head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.css" />
<!--jquery Datatable  -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
<!--jquery Datatable buttons -->
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">

<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
    
{% endblock custom_head %}
<!--FIN BLOQUE CUSTOM HEAD-->

<!-- BLOQUE TITULO-->
{% block titulo %} Inspecciones / Listar  {%endblock titulo%}
<!-- FIN BLOQUE TITULO-->

<!-- BLOQUE CONTENIDO-->
{% block content %}
<div class="container">
    <div class="card table-responsive">
        <div class="card-header">
            <h5 class="card-title">
                <i class="fas fa-search-location"></i>&nbsp; Listado de Inspecciones
            </h5>
            <div class="card-tools">
                <!-- Buttons, labels, and many other things can be placed here! -->
                <!-- Here is a label for example -->
                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                    <i class="fas fa-expand"></i>
                </button>
            </div>
            <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="listado" class="table dataTable compact hover order-column row-border" style="width: 100%"
                data-page-length='25'>
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th>#</th>
                        <th>Fecha</th>
                        <th>Inspección</th>
                        <th>Sede</th>
                        <th>Visita</th>
                        <th>Acta Fecha</th>
                        <th>Acta Nº</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in insp %}
                    <tr class="text-center">
                        <td>{{t.id}}</td>
                        <td>{{t.fecha_creado | date:"d/m/y" }}</td>
                        <td>{{t.estado_actual |title }}</td>
                        <td>{{t.sede | default_if_none:"" }}</td>
                        <td>
                            {% for v in vis %}
                                {% if v.inspeccion.id == t.id%} {{v.estado_actual |title}} {%endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for a in actas %}
                                {% if a.visita.inspeccion.id == t.id%} {{a.fecha_acta| date:"d/m/y"}} {%endif %}                            
                        </td>
                        <td>
                            
                                {% if a.visita.inspeccion.id == t.id%} {{a.numero}} {%endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <ul class="list-unstyled mb-0 d-flex justify-content-center ">
                                <li>
                                    <a href="{% url 'ver_inspeccion' t.id %}" class="text-secondary">
                                        <i class="fas fa-eye"></i></a>
                                </li>
                            </ul>
                        </td>
                    </tr>

                    {% endfor %}
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer"></div>
        <!-- /.card-footer -->
    </div>
</div>

{% endblock content%}

{% block customJS %}


<script>
    $(document).ready(function () {
        $("#listado").DataTable({
            columnDefs: [
                {
                    "targets": [],
                    "visible": false,
                    "searchable": false
                }
            ],            
            dom: 'Bfrtip',
            buttons: [ 
                    {
                //Botón para Excel
                extend: 'excel',
                footer: true,
                title: 'SIS - Inspecciones',
                filename: 'SIS - Inspecciones',
                text: '<button class="btn btn-success"><i class="fas fa-file-excel"></i></button>'
                },
                //Botón para PDF
                {
                    extend: 'pdf',
                    footer: true,
                    title: 'SIS - Inspecciones',
                    filename: 'SIS - Inspecciones',
                    text: '<button class="btn btn-danger"><i class="fas fa-file-pdf"></i></button>',                     
                },
                //Botón para Imprimir
                {
                    extend: 'print',
                    footer: true,
                    title: 'SIS - Inspecciones',
                    filename: 'SIS - Inspecciones',
                    text: '<button class="btn btn-primary"><i class="fas fa-print"></i></button>'
                }
            ],
            responsive: true,
            order: [[0, "asc"]],
            language: {
                lengthMenu: "Mostrar _MENU_ filas por página.",
                zeroRecords: "No se encontraron registros.",
                info: "Página _PAGE_ de _PAGES_",
                infoEmpty: "No hay registros disponibles",
                infoFiltered: "(filtrado por _MAX_ registros.)",
                search: "Buscar:",
                paginate: {
                    next: "Siguiente",
                    previous: "Anterior",
                },
            },
        });

        //para acceder a la vista de la inspeccion
        $(".clickable-row").click(function() {
        window.location = $(this).data("href");
        });
    });
</script>


{% endblock customJS %}